* {
    font-size: 1.01em;
    color: white;
    background-color: #000438;
}

p {
    padding-left: 25px;
}

h1 {
    text-align: center;
    padding-top: 10px;
}

input {
    background-color: whitesmoke;
    border-radius: 5px;
    color: black;
    padding: 4px 8px;
}

.center {
    position: absolute;
    top: 50%;
    transform: translate(175%, -55%);
}

.button {
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: 000438;
    color: white;
    border: 2px solid whitesmoke;
    border-radius: 5px;
}

.button:hover {
    background-color: whitesmoke;
    color: black;
    transition: 0.6s ease-in-out;
}

.result {
    padding-top: 15px;
}

.github {
    position: absolute;
    top: 50%;

    transform: translate(1450%, 1100%);
}
